   <div ng-include="'sidebar.html'"></div>
   <div class="page home-page">     
   <div ng-include="'header.html'"></div>

    <section class="statistics section-padding section-no-padding-bottom section_top" ng-init="rolecreationinit()">
            <div class="container-fluid">
                <header>

                   <div ng-show="myLoader" class="spinner">
                        <img src="assets/images/spinner.gif" class="myspin">
                    </div>

                    <h1 class="h3 display rolecreate"><i class="fa fa-desktop" aria-hidden="true"></i> Role Registration <a class="btn_add" data-toggle="modal" data-target="#exampleModalLabel"><i class="fa fa-plus" aria-hidden="true"></i></a>
                        <span class="note">Note: Please configure your page settings under the actions tab for each role</span>
                      </h1>
                </header>

                <div class="row d-flex align-items-stretch">
                <div class="row col-md-12" ng-if="role_type_name == 'Tenant'">
                  <div class="col-md-4">
                    <div class="form-group">
                                    <label for="client1-custom" class="label-custom">Role Type<span style="color: red;">*</span></label>
                                    <div class="input-group">
                                       <select name="userRole" class="form-control" ng-options="type.id as type.type_name for type in role_types" ng-model="role_type_id_for_list" ng-change="dropdown_roletype(role_type_id_for_list)" class="btn btn-default select-width selectpicker form-control">
                                       <option value="">Select Role Type</option>
                                       </select>
                                    </div>
                                </div>

                  </div>
                  <div class="col-md-4" ng-show="unit_show_role">
                    <div class="form-group">
                                    <label>Unit</label>
                                    <div class="input-group">
                             <select ng-options="unit.id as unit.name for unit in units_for_user" ng-model="unit_id_for_list" class="btn btn-default select-width selectpicker form-control" ng-change="select_unit_user(unit_id_for_list)" >
                                  <option value="">Select Unit</option>
                                  </select>
                                  </div>
                                  </div>


                  </div>
                  <div class="col-md-4" ng-show="section_show_role">
                 <div class="form-group">
                                    <label>Section</label>
                                    <div class="input-group">
                             <select ng-options="section.id as section.name for section in section_for_user" ng-model="section_for_list" class="btn btn-default select-width selectpicker form-control" ng-change="select_section(section_for_list)" >
                                  <option value="">Select Section</option>
                                  </select>
                                  </div>
                                  </div>

                  </div>


                </div>






                 <div class="row col-md-12" ng-if="role_type_name == 'Unit'">
                  <div class="col-md-4">
                    <div class="form-group">
                                    <label for="client1-custom" class="label-custom">Role Type<span style="color: red;">*</span></label>
                                    <div class="input-group">
                                       <select name="userRole" class="form-control" ng-options="type.id as type.type_name for type in role_types" ng-model="role_type_id_for_list" ng-change="dropdown_open_unit(role_type_id_for_list)" class="btn btn-default select-width selectpicker form-control">
                                       <option value="">Select Role Type</option>
                                       </select>
                                    </div>
                                </div>

                  </div>
                 
                  <div class="col-md-4" ng-show="section_show_unit">
                 <div class="form-group">
                                    <label>Section</label>
                                    <div class="input-group">
                             <select ng-options="section.id as section.name for section in section_for_user" ng-model="user_reference_id" class="btn btn-default select-width selectpicker form-control" ng-change="select_section(user_reference_id)" >
                                  <option value="">Select Section</option>
                                  </select>
                                  </div>
                                  </div>

                  </div>


                </div>
                    <div class="col-lg-3" ng-repeat="role in roles">
                        <div class="card machine_register_wrapper">
                            <!-- Monthly Usage-->
                            <div class="feed">
                                <div class="feed-body machine_register">
                                    <div class="content">
                                        <div class="role"><i class="fa fa-key" aria-hidden="true"></i>
                                            <h2>{{role.name}}</h2>
                                            <h4>{{role.role_type.type_name}}</h4>
                                        </div>

                                        <div class="machine_edits shift_edits">
                                            <div class="edit" ng-click="edit(role.id)" data-toggle="modal" data-target="#exampleModalLabel"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></div>
                                            <div class="delete" confirmed-click="delete(role.id)"  ng-confirm-click="Do you want to delete"><i class="fa fa-trash-o" aria-hidden="true"></i></div>
                                            <div class="addic" ng-click="roleset(role.id)" title="Role Setting"><i class="fa fa-plus" aria-hidden="true"></i></div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </section>
        
   <!-- modal -->
    <div class="modal fade" id="exampleModalLabel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Role Registration</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body machine-registration">
                    <form name="role">
                    <div class="row">
                        <div class="col-lg-12">
                        <div class="form-group">
                            <label>Role Name</label>
                            <input type="text" placeholder="Role" class="form-control" ng-model="roleregistration.name" ng-Required="true">
                        </div>
                        </div><div class="col-lg-12">
                          <div class="form-group">
                                    <label>Role Type</label>
                                    <div class="input-group">
                             <select ng-options="type.type_name for type in role_types" ng-model="roleregistration.role_type_id" class="btn btn-default select-width selectpicker form-control"  ng-change="unit_drop_method(roleregistration.role_type_id)">
                                  <option value="">Select role type</option>
                                  </select>
                                  </div>
                                  </div></div>
                                  <div class="col-lg-12" ng-show="levels">
                          <div class="form-group">
                                    <label>Unit</label>
                                    <div class="input-group">
                             <select ng-options="unit.id as unit.name for unit in units" ng-model="roleregistration.reference_id" class="btn btn-default select-width selectpicker form-control" ng-change="select_unit(roleregistration.reference_id)" >
                                  <option value="">Select Unit</option>
                                  </select>
                                  </div>
                                  </div></div>

                                   <div class="col-lg-12" ng-show="section_show">
                          <div class="form-group">
                                    <label>Section</label>
                                    <div class="input-group">
                             <select ng-options="section.id as section.name for section in sections_value" ng-model="roleregistration.reference_id" class="btn btn-default select-width selectpicker form-control" >
                                  <option value="">Select Section</option>
                                  </select>
                                  </div>
                                  </div></div>

                    </div>
                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-disabled="role.$invalid" ng-click="roleForm()" data-dismiss="modal">Save</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

<div ng-include="'footer.html'"></div>
 </div>