<div ng-include="'sidebar.html'"></div>
<div class="page home-page">     
<div ng-include="'header.html'"></div>
<section class="anual_maintenance_list section-padding section_top" ng-init="allocationinit()">
    <div class="container-fluid">
            <header>

                <div ng-show="myLoader" class="spinner">
                    <img src="assets/images/spinner.gif" class="myspin">
                </div>
                    <h1 class="h3 display machinereg"><i class="fa fa-desktop" aria-hidden="true"></i> AMC<a  class="btn_add" ng-click="new_amc()" ><i class="fa fa-plus" aria-hidden="true"></i></a></h1>
                </header>
           <div class="card">
               <div class="card-block tablescroll">
                   <table class="table table-striped table-sm table_front">
                       <thead>
                           <tr>
                              <th>S.No</th>
                              <th>Machine Name</th>
                              <th>Machine ID</th>
                              <th>Maintenance Type</th>
                              <th>Duration From</th>
                              <th>Duration To</th>
                              <th>Renewal Started Date</th>
                              <th>Anual Cost</th>
                              <th>Number of Visit</th>
                              <th>Visits Completed</th>
                              <th>Action</th>
                              <th>Add Transaction</th>
                           </tr>
                       </thead>
                       <tbody>
                           <tr ng-repeat="anuallistdata in anualmainlist">
                              <td>{{ $index+1 }}</td>
                              <td>{{ anuallistdata.machine.name }}</td>
                              <td>{{ anuallistdata.machine.machine_id }}</td>
                              <td>{{ anuallistdata.maintenance_type }}</td>
                              <td>{{ anuallistdata.duration_from | date:'yyyy-MM-dd' }}</td>
                              <td>{{ anuallistdata.duration_to | date:'yyyy-MM-dd' }}</td>
                              <td>{{ anuallistdata.renewal_started_date | date:'yyyy-MM-dd' }}</td>
                              <td>{{ anuallistdata.amount_paid}}</td>
                              <td>{{ anuallistdata.visit_per_annum }}</td>
                              <td>{{ anuallistdata.visit_completed }}</td>
                              <td>
                                <ul class="item-actions-list">
                                <li>
                                   <a class="remove"> <i class="fa fa-trash-o " confirmed-click="delete(anuallistdata.id)" ng-confirm-click="Do you want to delete"></i> </a>
                                </li>
                                <li>
                                   <a class="edit" data-toggle="modal"  data-target="#exampleModalLabel" title="Edit"  ng-click="edit(anuallistdata.id)"> <i class="fa fa-pencil"></i> </a>
                                </li>
                                </ul>
                              </td>  
                              <td>
                              <ul class="item-actions-list">
                                <li>
                                   <a class="edit" title="Edit"  ng-click="add(anuallistdata.id)"> <i class="fa fa-plus"></i> </a>
                                </li>
                                </ul>
                              </td>
                           </tr>
                       </tbody>
                    </table>
               </div>
           </div>
    </div>       
 </section>

<!-- modal -->
    <div class="modal fade" id="exampleModalLabel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit AMC List</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body machine-registration">
                  <form name="anual">
                    <div class="row">
                        <div class="col-lg-12">
                        <div class="form-group">
                         <label>Machine ID</label>
                           <div class="form-group">
                            <div class="select">
                              <select name="machineName" class="form-control"  ng-options="machineq.id as machineq.machine_id for machineq in anualCheckMachines" ng-model="editAmcList.machine_id" ng-Required="true" class="btn btn-default select-width selectpicker form-control">
                              <option value="">Select Machine</option>
                              </select>
                            </div>
                           </div>
                        </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                        <div class="form-group">
                         <label>Maintenance Type</label>
                          <div class="form-group">
                            <div class="select">
                              <select name="maintenance_type" class="form-control"  ng-options="main for main in anualmaintain" ng-model="editAmcList.maintenance_type" ng-Required="true" class="btn btn-default select-width selectpicker form-control">
                              <option value="">Select Maintenance Type</option>
                              </select>
                            </div>
                          </div> 
                        </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                        <div class="form-group">
                          <label>Duration From</label>
                           <div class="form-group" moment-picker="editAmcList.duration_from"  format="YYYY-MM-DD">
                            <input type="text" placeholder="Duration From" name="duration_from" class="form-control" ng-model="editAmcList.duration_from" ng-Required="true">
                           </div> 
                        </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                        <div class="form-group">
                          <label>Duration TO</label>
                           <div class="form-group" moment-picker="editAmcList.duration_to"  format="YYYY-MM-DD">
                            <input type="text" placeholder="Duration To" name="duration_to" class="form-control" ng-model="editAmcList.duration_to" ng-Required="true">
                           </div> 
                        </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                        <div class="form-group">
                          <label>Renewal Started Date</label>
                           <div class="form-group" moment-picker="editAmcList.renewal_started_date"  format="YYYY-MM-DD"> 
                            <input type="text" placeholder="Renewal Started Date" name="renewal_started_date" class="form-control" ng-model="editAmcList.renewal_started_date" ng-Required="true">
                           </div>
                        </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                        <div class="form-group">
                            <label>Anual Cost</label>
                            <input type="text" placeholder="Anual Cost" name="amount_paid" class="form-control" ng-model="editAmcList.amount_paid" ng-Required="true">
                        </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                        <div class="form-group">
                            <label>Number of Visit</label>
                            <input type="text" placeholder="Number of Visit" name="visit_per_annum" class="form-control" ng-model="editAmcList.visit_per_annum" ng-Required="true">
                        </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                        <div class="form-group">
                            <label>Visit Completed</label>
                            <input type="text" placeholder="Visit Completed" name="visit_completed" class="form-control" ng-model="editAmcList.visit_completed" ng-readonly="editAmcList.visit_completed" ng-disabled="model.isDisabled">
                        </div>
                        </div>
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-disabled="anual.$invalid" ng-click="updateAnuallist(updateId)" data-dismiss="modal">Save</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

 <div ng-include="'footer.html'"></div>
 </div>