  <style type="text/css">
    .active_button{
display: block;
    }
    .deactive_button{
display: none;  
    }
  </style>


<div class="page login-page">
    <div ng-show="myLoader" class="spinner">
      <img src="assets/images/spinner.gif" class="myspin">
    </div>
  <div class="container">
    <div class="form-outer d-flex align-items-center register">
      <div class="form-inner">
        <div class="logo text-center"><img src="assets/images/logo.jpg"></div>
          <p class="text-center">Register to continue with Yantra24x7</p>
          
          <form id="login-form" name="register" ng-submit="signup()" method="post">            
            <div class="row">
              <div class="col-md-6 col-sm-12">
                <div class="form-group">
                  <label for="register-custom" class="label-custom">First Name<span style="color: red;">*</span></label>
                  <input id="register-first_name" type="text" name="first_name" ng-model="registration.first_name" ng-Required="true">
                </div>
              </div>
              <div class="col-md-6 col-sm-12">
                <div class="form-group">
                  <label for="register-custom" class="label-custom">Last Name</label>
                  <input id="register-last_name" type="text" name="last_name" ng-model="registration.last_name">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 col-sm-12">
                <div class="form-group">
                  <label for="register-custom" class="label-custom">Email Address<span style="color: red;">*</span></label>
                  <input id="register-email" type="email" name="email" ng-model="registration.email"  ng-Required="true">
                  <!-- <span ng-show="register.email.$error.required" style="color: red;">Email is required</span> -->
                </div>
              </div>
              <div class="col-md-6 col-sm-12">
                <div class="form-group">
                  <label for="register-custom" class="label-custom">Password <span style="color: red;">*</span></label>
                  <input id="register-password" type="password" name="password"  ng-model="registration.password" ng-minlength="8" ng-Required="true"><span ng-show="register.password.$error.minlength" style="color: red;">Password must be 8 Charaters</span>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 col-sm-12">
                <div class="form-group">
                  <label class="label-custom">Phone Number 1<span style="color:red;">*</span></label>
                  <input id="register-phone_one" type="text" name="phone_one" ng-model="registration.phone_one" ng-pattern="/^(?:\d{10}|\w+@\w+\.\w{2,3})$/" ng-Required="true"><span ng-show="register.phone_one.$error.pattern" style="color: red;">Phone numbers should be 10 Numbers</span>
                  <span ng-show="register.phone_one.$error.text" style="color: red;">Phone numbers should be Numbers</span>
                </div>
              </div>
              <div class="col-md-6 col-sm-12">
                <div class="form-group">
                  <label class="label-custom">Phone Number 2</label>
                  <input id="register-phone_two" type="text" name="phone_two" ng-model="registration.phone_two" ng-pattern="/^(?:\d{10}|\w+@\w+\.\w{2,3})$/"><span ng-show="register.phone_two.$error.pattern" style="color: red;">Phone numbers should be 10 Numbers</span>
                </div>
              </div>
            </div> 

            <div class="row">  
              <div class="col-md-6 col-sm-12">
                <div class="form-group">
                  <label class="label-custom">Company Name<span style="color: red;">*</span></label>
                  <input id="register-tenant_name" type="text" name="tenant_name" ng-model="registration.tenant_name" ng-Required="true">
                </div>
              </div>

              <div class="col-md-6 col-sm-12">
                <div class="form-group">
                  <label class="label-custom">Website</label>
                  <input id="register-website" type="text" name="website" ng-model="registration.website">
                </div>
              </div>
            </div>
            
            <div class="row">  
              <div class="col-md-6 col-sm-12">
                <div class="form-group">
                  <label class="label-custom">Brand Name</label>
                  <input id="register-brand_name" type="text" name="brand_name" ng-model="registration.brand_name">
                </div>
              </div>
              <div class="col-md-6 col-sm-12">
                <div class="form-group">
                  <label class="label-custom">About Company</label>
                  <input id="register-about_company" type="text" name="about_company" ng-model="registration.about_company">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 col-sm-12">
                <div class="form-group">
                  <label class="label-custom">Address Line1</label>
                  <input id="register-address_one" type="text" name="address_one" ng-model="registration.address_one">
                </div>
              </div>
              <div class="col-md-6 col-sm-12">
                <div class="form-group">
                  <label class="label-custom">Address Line2</label>
                  <input id="register-address_two" type="text" name="address_two" ng-model="registration.address_two">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 col-sm-12">
                <div class="form-group">
                  <label class="label-custom">City</label>
                  <input id="register-city" type="text" name="city" ng-model="registration.city">
                </div>
              </div>
              <div class="col-md-6 col-sm-12">
                <div class="form-group">
                  <label class="label-custom">State</label>
                  <input id="register-state" type="text" name="state" ng-model="registration.state">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 col-sm-12">
                <div class="form-group">
                  <label class="label-custom">Country</label>
                  <input id="register-country" type="text" name="country" ng-model="registration.country">
                </div>
              </div>
              <div class="col-md-6 col-sm-12">
                <div class="form-group">
                  <label class="label-custom">Pincode</label>
                  <input id="register-pincode" type="text" name="pincode" ng-model="registration.pincode" ng-minlength="6"><span ng-show="register.pincode.$error.minlength" style="color: red;">Pincode must be 6 digits</span>
                </div>
              </div>
            </div>
 
            <div class="row">
              <div class="col-md-12 col-sm-12">
                <div class="terms-conditions d-flex justify-content-center">
                  <input id="license" type="checkbox" class="form-control-custom">
                  <label for="license">Agree the terms and policy</label>
                </div>
              </div>
            </div>

            <div class="row">
              <button id="register" type="submit" ng-disabled="register.first_name.$invalid || register.email.$invalid || register.password.$invalid || register.phone_one.$invalid || register.tenant_name.$invalid" class="btn btn-primary btn-block">Register</button>
              <!-- <button id="register" type="submit" ng-disabled="{active_button: inputform.email.$valid, deactive_button:registration.email_id =='' && registration.password == '' && registration.phone_number ==''}" class="btn btn-primary btn-block">Register</button> -->
            </div>
          </form>
          <div class="login_footer">
            <small>Already have an account? </small><a href="#" class="signup">Login</a>
          </div>
      </div>
    </div>
  </div>
</div>
<script src="assets/js/front.js"></script>