<div ng-include="'sidebar.html'"></div>
<div class="page home-page">     
<div ng-include="'header.html'"></div>
 <section class="bwo_creates section-padding section_top">
    <div class="container-fluid">
            <div class="row">
              <div class="col-lg-12">
                <img ng-src="assets/images/u7949.png">
                &nbsp;&nbsp;&nbsp;&nbsp;<label><b>Breakdown Work Order</b></label>
              </div>
            </div>

           <div class="row d-flex align-items-stretch">
            <div class="col-lg-8">
              <div class="container">
                 <div class="row">
                 </div><br>
                 <!-- <div class="row">
                     <div class="col-sm-1 col-md-1"></div>  
                     <div class="col-sm-5 col-md-5">
                       <span><b>Location</b></span>
                     </div>
                     <div class="col-sm-5 col-md-5">
                     	<div class="select">
                            <select name="location" class="form-control" ng-options="role.id as role.name for role in role_ids" ng-model="bwocreation.role_id" class="btn btn-default select-width selectpicker form-control">
                            <option value="">Select Location</option>
                            </select>
                        </div>
                     </div>
                     <div class="col-sm-1 col-md-1"></div>
                 </div> -->
                  <div class="row">
                     <div class="col-sm-1 col-md-1"></div>     
                     <div class="col-sm-5 col-md-5">
                       <span><b>Section</b></span>
                     </div>
                     <div class="col-sm-5 col-md-5">
                            <select name="section" class="form-control selectpicker" ng-options="section.id as section.name for section in bwoSections" ng-model="bwocreation.section_id" class="btn btn-default select-width selectpicker form-control" style="height:94%;" ng-change="change(bwocreation.section_id)">
                            <option value="">Select Section</option>
                            </select>
                     </div>
                     <div class="col-sm-1 col-md-1"></div>  
                  </div><br>
                  <div class="row">
                     <div class="col-sm-1 col-md-1"></div>   
                     <div class="col-sm-5 col-md-5">
                       <span><b>Machine</b></span>
                     </div>
                     <div class="col-sm-5 col-md-5">
                            <select name="machine" class="form-control selectpicker" ng-options="machine.id as machine.name for machine in bwoMachines" ng-model="bwocreation.machine_id" class="btn btn-default select-width selectpicker form-control" style="height:94%;">
                            <option value="">Select Machine</option>
                            </select>
                     </div>
                     <div class="col-sm-1 col-md-1"></div> 
                 </div><br>
                 <div class="row">
                     <div class="col-sm-1 col-md-1"></div> 
                     <div class="col-sm-5 col-md-5">
                       <span><b>Mfr.Date</b></span>
                     </div>
                     <div class="col-sm-5 col-md-5">
                     	<div class="form-group">
                            <input type="text" name="mfrdate" class="form-control" ng-model="bwocreation.manufacture_date" placeholder="Manufactured Date">
                        </div>
                     </div>
                     <div class="col-sm-1 col-md-1"></div> 
                 </div>
                 <div class="row">
                     <div class="col-sm-1 col-md-1"></div> 
                     <div class="col-sm-5 col-md-5">
                       <span><b>MWO Number</b></span>
                     </div>
                     <div class="col-sm-5 col-md-5">
                     	<div class="form-group">
                            <input type="text" name="mwonumber" class="form-control" ng-model="bwocreation.maintenance_workorder_number" placeholder="Machine Wrok Order Number">
                        </div>
                     </div>
                     <div class="col-sm-1 col-md-1"></div> 
                 </div>
                 <div class="row">
                     <div class="col-sm-1 col-md-1"></div> 
                     <div class="col-sm-5 col-md-5">
                       <span><b>Start Time</b></span>
                     </div>
                     <div class="col-sm-5 col-md-5">
                     	<div class="form-group">
                            <input type="text" name="starttime" class="form-control" ng-model="bwocreation.start_time" placeholder="Start Time">
                        </div>
                     </div>
                     <div class="col-sm-1 col-md-1"></div> 
                 </div>
                 <div class="row">
                     <div class="col-sm-1 col-md-1"></div> 
                     <div class="col-sm-5 col-md-5">
                       <span><b>End Time</b></span>
                     </div>
                      <div class="col-sm-5 col-md-5">
                     	<div class="form-group">
                            <input type="text" name="endtime" class="form-control" ng-model="bwocreation.end_time" placeholder="End Time">
                        </div>
                     </div>
                     <div class="col-sm-1 col-md-1"></div> 
                 </div>
                 <div class="row">
                     <div class="col-sm-1 col-md-1"></div> 
                     <div class="col-sm-5 col-md-5">
                       <span><b>Alarm</b></span>
                     </div>
                      <div class="col-sm-5 col-md-5">
                     	<div class="form-group">
                            <input type="text" name="alarm" class="form-control" ng-model="bwocreation.alarm" placeholder="Alarm">
                        </div>
                     </div>
                     <div class="col-sm-1 col-md-1"></div> 
                 </div>
                 <div class="row">
                     <div class="col-sm-1 col-md-1"></div>   
                     <div class="col-sm-5 col-md-5">
                       <span><b>MWO Type</b></span>
                     </div>
                      <div class="col-sm-5 col-md-5">
                     	<div class="form-group">
                            <input type="text" name="mwotype" class="form-control" ng-model="bwocreation.maintainence_workorder_type" placeholder="Machine Work Order Type">
                        </div>
                     </div>
                     <div class="col-sm-1 col-md-1"></div> 
                 </div>
                 <div class="row">
                     <div class="col-sm-1 col-md-1"></div> 
                     <div class="col-sm-5 col-md-5">
                       <span><b>MWO Closed by</b></span>
                     </div>
                      <div class="col-sm-5 col-md-5">
                     	<div class="form-group">
                            <input type="text" name="mwoclosedby" class="form-control" ng-model="bwocreation.maintenance_workorder_closedby" placeholder="Machine Wrok Order Closed by">
                        </div>
                     </div>
                     <div class="col-sm-1 col-md-1"></div> 
                 </div>
                 <div class="row">
                     <div class="col-sm-1 col-md-1"></div> 
                     <div class="col-sm-5 col-md-5">
                       <span><b>Status</b></span>
                     </div>
                      <div class="col-sm-5 col-md-5">
                     	<div class="form-group">
                            <input type="text" name="status" class="form-control" ng-model="bwocreation.status" placeholder="Status">
                        </div>
                     </div>
                     <div class="col-sm-1 col-md-1"></div> 
                 </div>
                 <div class="row">
                     <div class="col-sm-1 col-md-1"></div> 
                     <div class="col-sm-5 col-md-5">
                       <span><b>Awaiting</b></span>
                     </div>
                     <div class="col-sm-5 col-md-5">
                     	<div class="form-group">
                            <input type="text" name="awaiting" class="form-control" ng-model="bwocreation.awaiting" placeholder="Awaiting">
                        </div>
                     </div>
                     <div class="col-sm-1 col-md-1"></div> 
                 </div>
                 <div class="row">
                     <div class="col-sm-1 col-md-1"></div> 
                     <div class="col-sm-5 col-md-5">
                       <span><b>Required Brain Storming</b></span>
                     </div>
                     <div class="col-sm-5 col-md-5">
                            <select name="machine" class="form-control selectpicker" ng-options="check.id as check.value for check in checklist.require_brain_storming" ng-model="bwocreation.require_brain_storming" class="btn btn-default select-width selectpicker form-control" style="height:94%;" ng-change="create(bwocreation.require_brain_storming)">
                            <option value="">Select Option</option>
                            </select>
                     </div>
                     <div class="col-sm-1 col-md-1"></div> 
                 </div><br>
                 <div class="row">
                     <div class="col-sm-1 col-md-1"></div> 
                     <div class="col-sm-5 col-md-5">
                       <span><b>Need Service Support</b></span>
                     </div>
                     <div class="col-sm-5 col-md-5">
                            <select name="machine" class="form-control selectpicker" ng-options="check.id as check.value for check in checklist.need_servicesupport" ng-model="bwocreation.need_servicesupport" class="btn btn-default select-width selectpicker form-control" style="height:94%;">
                            <option value="">Select Option</option>
                            </select>
                     </div>
                     <div class="col-sm-1 col-md-1"></div> 
                 </div><br>
                 <div class="row">
                     <div class="col-sm-1 col-md-1"></div> 
                     <div class="col-sm-5 col-md-5">
                       <span><b>PSN Notification Mail</b></span>
                     </div>
                     <div class="col-sm-5 col-md-5">
                            <select name="machine" class="form-control selectpicker" ng-options="check.id as check.value for check in checklist.psn_notificationmail" ng-model="bwocreation.psn_notificationmail" class="btn btn-default select-width selectpicker form-control" style="height:94%;">
                            <option value="">Select Option</option>
                            </select>
                     </div>
                     <div class="col-sm-1 col-md-1"></div> 
                 </div><br>
                 <div class="row">
                     <div class="col-sm-1 col-md-1"></div> 
                     <div class="col-sm-5 col-md-5">
                       <span><b>Kaizen Status</b></span>
                     </div>
                     <div class="col-sm-5 col-md-5">
                            <select name="machine" class="form-control selectpicker" ng-options="check.id as check.value for check in checklist.kaizen_status" ng-model="bwocreation.kaizen_status" class="btn btn-default select-width selectpicker form-control" style="height:94%;">
                            <option value="">Select Option</option>
                            </select>
                     </div>
                     <div class="col-sm-1 col-md-1"></div> 
                 </div><br>
                 <div class="row">
                     <div class="col-sm-1 col-md-1"></div> 
                     <div class="col-sm-5 col-md-5">
                       <span><b>Nature of Breakdown</b></span>
                     </div>
                     <div class="col-sm-5 col-md-5">
                            <select name="machine" class="form-control selectpicker" ng-options="nature.id as nature.breakdown_name for nature in natureBreakdownList" ng-model="bwocreation.nature_of_breakdown_id" class="btn btn-default select-width selectpicker form-control" style="height:94%;">
                            <option value="">Select Option</option>
                            </select>
                     </div>
                     <div class="col-sm-1 col-md-1"></div> 
                 </div><br>
                 <div class="row">
                     <div class="col-sm-1 col-md-1"></div> 
                     <div class="col-sm-5 col-md-5">
                       <span><b>Breakdown Type</b></span>
                     </div>
                     <div class="col-sm-5 col-md-5">
                            <select name="machine" class="form-control selectpicker" ng-options="breaklist.id as breaklist.type_name for breaklist in breakdownList" ng-model="bwocreation.breakdown_type_id" class="btn btn-default select-width selectpicker form-control" style="height:94%;">
                            <option value="">Select Option</option>
                            </select>
                     </div>
                     <div class="col-sm-1 col-md-1"></div> 
                 </div><br>
                 <div class="row">
                     <div class="col-sm-1 col-md-1"></div> 
                     <div class="col-sm-5 col-md-5">
                       <span><b>Maintenance Type</b></span>
                     </div>
                     <div class="col-sm-5 col-md-5">
                            <select name="machine" class="form-control selectpicker" ng-options="list.id as list.type_of_maintenance for list in maintenanceTypeList" ng-model="bwocreation.maintenance_type_id" class="btn btn-default select-width selectpicker form-control" style="height:94%;">
                            <option value="">Select Option</option>
                            </select>
                     </div>
                     <div class="col-sm-1 col-md-1"></div> 
                 </div><br>
                 <div class="row">
                     <div class="col-sm-1 col-md-1"></div> 
                     <div class="col-sm-5 col-md-5">
                       <span><b>File Upload</b></span>
                     </div>
                     <div class="col-sm-5 col-md-5">
                         <input type="file" ng-model="bwocreation.file_path" file-model="myFile"/>   
                     </div>
                     <div class="col-sm-1 col-md-1"></div> 
                 </div><br>
                 <div class="row">
                   <div class="col-lg-9 col-md-9"></div>
                     <div class="col-lg-2 col-md-2">
                        <div class="form-group">   
                            <input type="button" class="btn btn-primary btn-md" Value="Save" ng-click="bwoCreation(bwocreation)">
                        </div>  
                     </div>
                   <div class="col-lg-1 col-md-1"></div>
                 </div><br>
            </div> 
           </div>  
          </div>
    </div>       
 </section>                               
   <div ng-include="'footer.html'"></div>
 </div>