<style type="text/css">
.running{
    /*background-color:rgb(76,175,80) ;*/
    background-color: rgb(44,190,99);
}
.idle {
  /*background-color:rgb(249,168,37) ;*/
  background-color: rgb(232,162,73);

}
.stopped{
  /*background-color:rgb(198,40,40) ;*/
  background-color: rgb(236,85,80);
}
.nodata{
  background-color: #444444;
}
</style> 
<div ng-include="'sidebar.html'"></div>
   <div class="page home-page">     
   <div ng-include="'header.html'"></div>
   

    <!-- <link rel="stylesheet" type="text/css" href="<some-path>/grasp_mobile_progress_circle-1.0.0.min.css">
   <script src="<some-path>/grasp_mobile_progress_circle-1.0.0.min.js"></script>
    <script src="assets/js/Chart.min.js"></script>
    <script src="assets/js/charts-home.js"></script>
    <script src="assets/js/front.js"></script>-->

  
 <section class="statistics section-padding section-no-padding-bottom section_top" ng-init="dashboard()">
          <div class="container-fluid">
          <header> 
             
            <!--  <div ng-show="myLoader" class="spinner">
                <img src="assets/images/spinner1.gif" class="myspin">
            </div> -->

              <h1 class="h3 display top"><i class="fa fa-laptop"></i>Overall Machine Status
              <ul>
                <li><span class="dot_running"></span>Running</li>
                <li><span class="dot_idle"></span>Idle</li>
                <li><span class="dot_stop"></span>Stop</li>
              </ul>
              <div class="float-right entry_time"><span>Today:</span>{{ clock | date:'dd/MM/yyyy hh:mm:ss a'}} <span>Last updated time:</span> {{cardnames[0].last_update}}</div>
              </h1>
            </header>
            <div class="row d-flex align-items-stretch">
           
            <div class="col-lg-3" ng-repeat="y in cardnames">
                
                <div class="wrapper data-usage">
                  <div class="wrapper_idle"  ng-class="{running :y.machine_status =='3' ,stopped :y.machine_status=='100',nodata: y.machine_status == null,idle : y.machine_status != '3' && y.machine_status !='100' && y.machine_status != null}">
                  <h2 class="display h4"><a href="" ng-click="machine_page_redirect(y.machine_id)" onMouseOver="this.style.color='black'"  onMouseOut="this.style.color='#fff'">{{y.machine_name}}</a></h2>
                  <div class="row d-flex align-items-center">
                    <div class="col-sm-12">
                         <percent-display percent="y.utilization" side="120" colors="#ede7f6 #A179C7" style="margin-left: 33%;"></percent-display>
                    
                    </div>
                    <div class="col-sm-12"><span><a href="" ng-click="job_page_redirect(y.job_id)" onMouseOver="this.style.color='black'"  onMouseOut="this.style.color='#fff'">{{y.job_name}}</a></span></div>
                    <div class="col-sm-12" ng-if="y.job_name==null"><span><a>Not Available</a></span></div>
                  </div>
                  </div>
                  <div class="row status_icon">
                    <div class="col-md-5 status_first">
                    <i class="fa fa-clock-o"></i>
                    Downtime {{y.downtime}}min.
                    </div>
                    <div class="col-md-7">
                    <i class="fa fa-cog" aria-hidden="true"></i>
                    Parts Produced C:{{y.parts_count}}nos | M:{{y.controller_part}}nos.
                    </div>
                  </div>
                </div>
              </div> 
             
            </div>
          </div>
        </section>

        

        <div ng-include="'footer.html'"></div>
 </div>
